@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Aplicación de ToDoList, usando asp.net core con arquitectura MVC, enlazda auna base de datos de SQL 
        server.
    </p>
</div>


        <partial name="_NotificationPartial" />
