body{
    background: #086972;
}
table{
    border-radius: 15px;
}
a{
    color:#fff;
    font-size:20px;            
}
a:hover{
    text-decoration: underline;
}

table .switch{
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
}


.titulo-tabla{
    
    background-color: #1b262c;
    color:#fff !important;
    font-size:20px;
    font-weight:bold;

}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.switch  .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    transition: .4s;
}

  .slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: white;
    transition: .4s;
}

input:checked + .slider{
    background-color: #8f44fd;

}
 input:focus +  .slider{
    box-shadow:  0 0 1px #8f44fd;
}

 input:checked + .slider::before{
    transform: translateX(26px);
}

.slider.round{
    border-radius: 34px;
}
.slider.round:before{
    border-radius:50%;
}
/*Inputs*/


.contenedor-inputs .wrapper{
    position: relative;
    display: flex;
    height: 3rem;    
    width: 188%;
    
 }
 .contenedor-inputs .wrapper .label{
     position: absolute;
     top: 50%;
     left: 0.65rem;
     transform: translateY(-50%);
     color: #888;
     padding:0.25rem 0.5rem;
     pointer-events: none;
     transition: all 0.35s;     
 }
 
 .contenedor-inputs .wrapper input, select{
     height: inherit;     
     width: 100%;
     border: 2px solid #888;
     border-radius: .5rem;
     outline: none;
     background-color: transparent;
     color: #f7f7f7;
     font-size: 1rem;
     text-indent: 1rem;
     transition: all .35s;
 }

 .contenedor-inputs .wrapper input{
     width: 60%;
 }



 .contenedor-inputs .wrapper input:focus{border-color: #8f44fd;}
 .contenedor-inputs .wrapper input:focus ~ .icon {
     color: #fff;
 }

 .contenedor-inputs .wrapper input:focus ~ .label{
     background-color:  #383c44;
     color: rgba(255, 255, 255, 0.75);
     font-size: 18px;
     transform: translateY(-3.1rem);
 }


 .contenedor-inputs{
     display: grid;
     gap: 10px;
     grid-template-columns: repeat(2,1fr);
     grid-template-rows: auto;
     grid-template-areas:
         "wrapper wrapper "
        "prioridad fecha"
        "categoria boton";
 }

.contenedor-inputs .wrapper{
    grid-area: wrapper;
   ;
}
.contenedor-inputs .prioridad{
    grid-area: prioridad;
    height: 3rem;
}

.contenedor-inputs .fecha{
    grid-area: fecha;
    height: 3rem;
}
.contenedor-inputs .fecha input{
    height: inherit;     
    width: 126%;
    border: 2px solid #888;
    border-radius: .5rem;
    outline: none;
    background-color: transparent;
    color: #f7f7f7;
    font-size: 1rem;
    text-indent: 1rem;
    transition: all .35s;
}

.contenedor-inputs .categoria{
    grid-area: categoria;
    height:3rem;
    
}
.contenedor-inputs .boton{
    grid-area: boton;
    height: 3rem;
    width: 100%;
}

.btn-agregar{
    background-color: #8f44fd;
    width: 126%;
    color: #fff;
    font-size: 20px;
    height: 3rem;
    border-radius: 8px;
    outline: 0;
    border: 0;
}
.btn-agregar:hover{
    background-color: #9f7ad8;
}